<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbPankovES.DomainObject.Properties.Settings.pankovesConnectionString"
            connectionString="Data Source=mssql6.gear.host;Initial Catalog=pankoves;Persist Security Info=True;User ID=pankoves"
            providerName="System.Data.SqlClient" />     
    </connectionStrings>
</configuration>